body {
    div {
        height: auto; /*if more info comes on the page, it will stretch down*/
        width: 1000px;
        margin: 0 auto; /*this will cause the div to be in the center*/
    }
}
nav ul, footer ul {
    font-family: 'Apercu Pro', sans-serif;
    padding: 0px;
    list-style: none;
    font-weight: bold;
    color: rgb(69, 99, 122);
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
    color: rgb(69, 99, 122);
}
a {
    text-decoration: none;
    color: rgb(109, 172, 214);
    font-weight: bold;
}
a:hover {
    text-decoration: none;
    color: rgb(0, 60, 113);
    font-weight: bold;
}
h1 {
    font-size: 3em;
    font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
    color: rgb(69, 99, 122);
}
h2 {
    font-size: 2.25em;
    font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
    color: rgb(69, 99, 122);
}
h3 {
    font-size: 1.75em;
    font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
    color: rgb(69, 99, 122);
}
p {
    font-size: 1.1em;
    line-height: 1.25em;
    color: rgb(69, 99, 122);
}
ul { 
    font-size: 1.1em;
    line-height: 2em;
    color: rgb(69, 99, 122);
}
ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
    color: rgb(69, 99, 122);
}
ul.posts li {
    list-style: none;
    color: rgb(69, 99, 122);
}
hr {
    margin: 20px 0;
    border: 1px solid #ccc;
}
footer {
    border-top: 2px solid #ccc;
    font-size: .8em;
    color: rgb(69, 99, 122);
}
