body {	
	div {
    		height: auto; /*if more info comes on the page, it will stretch down*/
        	width: 1000px;
       		margin: 0 auto; /*this will cause the div to be in the center*/
    }
}
nav ul, footer ul {
	padding: 0px;
	list-style: none;
	font-weight: bold;
	color: rgb(69, 99, 122);
}
nav ul li, footer ul li {
	display: inline;
	margin-right: 20px;
	color: rgb(69, 99, 122);
}
a {
    	text-decoration: none;
    	color: rgb(109, 172, 214);
    	font-weight: bold;
}
a:hover {
    	text-decoration: none;
    	color: rgb(0, 60, 113);
    	font-weight: bold;
}
h1 {
	font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26px;
	color: rgb(69, 99, 122);
}
h2 {    
	font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
	font-size: 18px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 20px;
	color: rgb(69, 99, 122);
}
h3 {
	font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15px;
	color: rgb(69, 99, 122);
}
p {
	font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
	color: rgb(69, 99, 122);
}
ul { 
	font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 26px;
	color: rgb(69, 99, 122);
}
ul.posts { 
	font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px;
	color: rgb(69, 99, 122);
}
ul.posts li {
	font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px;
	color: rgb(69, 99, 122);
}
hr {
    	margin: 20px 0;
    	border: 1px solid #ccc;
}
footer {
	font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
	color: rgb(69, 99, 122);
    	border-top: 2px solid #ccc;	
}
