---
layout: null
title: When planets dance
date: 2017-10-09
tags: [spectral methods]
permalink: 2017-10-09.html
---
<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<title>When planets dance</title>
<!--

Template 2085 Neuron

http://www.tooplate.com/view/2085-neuron

-->
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/all.css">
<link rel="stylesheet" href="css/magnific-popup.css">

<!-- Main css -->
<link rel="stylesheet" href="css/style.css">
<link href="https://fonts.googleapis.com/css?family=Lora|Merriweather:300,400" rel="stylesheet">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-108246943-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-108246943-1');
</script>

<!-- Google AdSense -->
<!--<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8299683413193339" crossorigin="anonymous"></script>-->
<!--<script async src="https://fundingchoicesmessages.google.com/i/pub-8299683413193339?ers=1" nonce="AuY4vKpDElA9N7YwmFfMjg"></script>
<script nonce="AuY4vKpDElA9N7YwmFfMjg">(function() {function signalGooglefcPresent() {if (!window.frames['googlefcPresent']) {if (document.body) {const iframe = document.createElement('iframe'); iframe.style = 'width: 0; height: 0; border: none; z-index: -1000; left: -1000px; top: -1000px;'; iframe.style.display = 'none'; iframe.name = 'googlefcPresent'; document.body.appendChild(iframe);} else {setTimeout(signalGooglefcPresent, 0);}}}signalGooglefcPresent();})();</script>-->

</head>
<body>

<!-- PRE LOADER -->

<div class="preloader">
     <div class="sk-spinner sk-spinner-wordpress">
          <span class="sk-inner-circle"></span>
     </div>
</div>

<!-- Navigation section  -->

<div class="navbar navbar-default navbar-static-top" role="navigation">
     <div class="container">

          <div class="navbar-header">
               <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
               </button>
               <a href="index.html" class="navbar-brand">H. Montanelli</a>
          </div>
          <div class="collapse navbar-collapse">
               <ul class="nav navbar-nav navbar-right">
                    <li><a href="about.html">About</a></li>
                    <li><a href="blog.html">Blog</a></li>
                    <li><a href="publications.html">Publications</a></li>
                    <li><a href="research.html">Research</a></li>
                    <li><a href="students.html">Students</a></li>
                    <li><a href="talks.html">Talks</a></li>
                    <li><a href="teaching.html">Teaching</a></li>
               </ul>
          </div>

  </div>
</div>

<!-- Home Section -->

<section id="home" class="main-about parallax-section">
     <div class="overlay"></div>
     <div class="container">
          <div class="row">

               <div class="col-md-12 col-sm-12">
                    <h1>When planets dance</h1>
               </div>

          </div>
     </div>
</section>

<!-- Blog Single Post Section -->

<section id="about">
     <div class="container">
          <div class="row">

               <div class="col-md-offset-1 col-md-10 col-sm-12">     

                    <p><i>October 9, 2017</i></p>

                    <center>
                    <img src="/blog/choreo.jpg" class="img-responsive">
                    </center>

                    <p><a href="https://arxiv.org/pdf/1505.04848.pdf">My second paper</a> as a Ph.D. student, 
                    in collaboration with my friend and former colleague at Oxford 
                    <a href="https://scholar.google.com/citations?user=w-PVG8sAAAAJ&hl=en">Nikola Gushterov</a>, 
                    was about the <a href="http://www.scholarpedia.org/article/N-body_choreographies">choreographies</a> 
                    of the <a href="https://en.wikipedia.org/wiki/N-body_problem">\(n\)-body problem</a>. 
                    These are very simple periodic solutions of the \(n\)-body problem, in which the bodies share a common orbit and are uniformly spread along it; see, e.g., <a href="https://personalpages.manchester.ac.uk/staff/j.montaldi/Choreographies/">these animations</a>. The trivial ones are circles, and these were found by <a href="http://en.wikipedia.org/wiki/Joseph-Louis_Lagrange">Lagrange</a> in 1772. Fore more than two centuries, this was the full story.</p>

                    <p>Everything changed at the end of the 20th century, when Moore (numerically in 1993), and Chenciner and Montgomery (theoretically in 2000), discovered the first non-trivial choreography: the 
                    <a href="https://arxiv.org/pdf/math/0011268.pdf">figure-eight</a> of the three-body problem. And then the magic happened: in the early 2000s, <a href="http://www.math.uni-bielefeld.de/~rehmann/ECM/cdrom/3ecm/pdfs/pant3/simo.pdf">Simò</a> found many new choreographies using <a href="http://en.wikipedia.org/wiki/Mathematical_optimization">numerical optimization</a> of the so-called <a href="http://en.wikipedia.org/wiki/Action_(physics)">action</a>. In this post, I explain the idea of Simò, who coined the term choreographies, the \(n\) bodies being "seen to dance in a somewhat complicated way."</p>

                    <p>Let \(z_j(t)\in\mathbb{C}\), \(0\leq j\leq n-1\), denote the positions of \(n\) bodies with unit mass in the complex plane. 
                    The \(n\)-body problem describes the motion of these bodies under the action of 
                    <a href="http://en.wikipedia.org/wiki/Newton%27s_law_of_universal_gravitation">Newton's law of gravitation</a>, through the nonlinear coupled system of ODEs
                    $$
                    z_j^{''}(t) - \sum_{\underset{i\neq j}{i=0}}^{n-1} \frac{z_i(t) - z_j(t)}{\big\vert z_i(t) - z_j(t) \big\vert^3} = 0, 
                    \;\, 0\leq j\leq n-1.
                    $$
                    Since choreographies share a single orbit and are uniformly spread along it, these can be written as
                    $$
                    z_j(t) = q\Big(t + \frac{2\pi j}{n}\Big), \;\, 0\leq j\leq n-1,
                    $$
                    for some \(2\pi\)-periodic function \(q:[0,2\pi]\rightarrow\mathbb{C}\).</p>

                    <p>It has been well known since <a href="http://en.wikipedia.org/wiki/Henri_Poincaré">Poincaré</a> 
                    that the <a href="http://en.wikipedia.org/wiki/Principle_of_least_action">principle of least action</a>, first introduced by 
                    <a href="http://en.wikipedia.org/wiki/Pierre_Louis_Maupertuis">Maupertuis</a> in 1744, can be used to characterize choreographies: these are minima of the action, defined as the integral over one period of the 
                    <a href="http://en.wikipedia.org/wiki/Kinetic_energy">kinetic</a> minus the 
                    <a href="http://en.wikipedia.org/wiki/Potential_energy">potential</a> energy,
                    $$
                    A = \int_0^{2\pi} \big(K(t) - U(t)\big)\,dt,
                    $$
                    with kinetic energy
                    $$
                    K(t) = \frac{1}{2}\sum_{j=0}^{n-1} 
                    \Big\vert q'\Big(t + \frac{2\pi j}{n}\Big) \Big\vert^2
                    $$
                    and potential energy
                    $$
                    U(t) = -\sum_{j=0}^{n-1}\sum_{i=0}^{j-1}
                    \Big\vert q\Big(t + \frac{2\pi i}{n}\Big) - q\Big(t + \frac{2\pi j}{n}\Big) \Big\vert^{-1}.
                    $$
                    Note that the action \(A\) depends on \(q(t)\) via \(U(t)\) and on \(q'(t)\) via \(K(t)\).</p>

                    <p>Since the integral of \(K(t)\) does not depend on \(j\) and the integral of \(U(t)\) only depends on \(i-j\), the action can be rewritten
                    $$
                    \begin{align}
                    A = \frac{n}{2}\int_0^{2\pi} \big\vert q'(t) \big\vert^2 dt + \frac{n}{2}\sum_{j=1}^{n-1} \int_0^{2\pi} \Big\vert q(t) - q\Big(t + \frac{2\pi j}{n}\Big) \Big\vert^{-1}dt.
                    \end{align}
                    $$
                    Choreographies correspond to functions \(q(t)\) which minimize \(A\). Since these are closed curves in the complex plane, these can be represented by 
                    <a href="http://en.wikipedia.org/wiki/Fourier_series">Fourier series</a>.
                    The action \(A\) becomes a function of Fourier coefficients, can be computed with the
                    <a href="http://people.maths.ox.ac.uk/trefethen/publication/PDF/2014_149.pdf">exponentially accurate trapezoidal rule</a>, 
                    and an optimization algorithm (over a finite number of Fourier coefficients) can be used to found the minima.</p>

                    <p>In our paper, we have recomputed the choreographies found by Simò to higher accuracy, and extended his work to spaces of constant positive curvature&mdash;check it out!</p>

                    <hr>
                    {% if page.tags %}
                      <h4>Blog posts about {{ page.tags }}</h4>
                      <ul style="list-style-type: none; padding-left: 0;">
                        {% assign related_posts = site.blog %}
                        {% assign related = "" | split: "" %}
                        {% for tag in page.tags %}
                          {% assign tagged_posts = related_posts | where_exp: "post", "post.tags contains tag" %}
                          {% assign related = related | concat: tagged_posts %}
                        {% endfor %}
                        {% assign related = related | uniq | sort: "date" | reverse %}
                        {% for post in related limit: 5 %}
                          {% assign post_year = post.date | date: "%Y" %}
                          <li>{{ post_year }} &nbsp; <a href="{{ post.permalink }}">{{ post.title }}</a></li>
                        {% endfor %}
                      </ul>
                    {% endif %}
                    
               </div>

          </div>
     </div>
</section>

<!-- Footer Section -->

<footer>
     <div class="container">
          <div class="row">

               <div class="col-md-4 col-md-offset-1 col-sm-6">
                    <h3>Contact</h3>
                    <p style="color:white"><i class="fa fa-send-o"></i>hadrien.montanelli@inria.fr</p><br>
                    <a href="https://www.inria.fr/en"><img src="/images/inria.png" class="img-responsive"></a>
               </div>

               <div class="col-md-4 col-md-offset-1 col-sm-6">
                    <h3 style="opacity:0;">Contact</h3>
                    <p style="color:white">Copyright &copy; 2025 Hadrien Montanelli</p><br>
                    <a href="https://www.ip-paris.fr/en"><img src="/images/polytechnique.png" class="img-responsive"></a>
               </div>

               <div class="clearfix col-md-12 col-sm-12">
                    <hr style="color:white;">
               </div>

               <div class="col-md-12 col-sm-12">
                    <ul class="social-icon">
                         <li><a href="https://github.com/Hadrien-Montanelli" class="fa-brands fa-github" style="font-size:30px;color:white"></a></li>
                         <li><a href="https://scholar.google.com/citations?user=Bjmkfe8AAAAJ&hl=en&oi=sra/" class="fa-brands fa-google" style="font-size:30px;color:white"></a></li>
                         <li><a href="https://www.linkedin.com/in/hadrien-montanelli/" class="fa-brands fa-linkedin" style="font-size:30px;color:white"></a></li>
                         <li><a href="https://orcid.org/0009-0005-1742-9828" class="fa-brands fa-orcid" style="font-size:30px;color:white"></a></li>
                         <li><a href="https://twitter.com/drmontanelli" class="fa-brands fa-x-twitter" style="font-size:30px;color:white;"></a></li>
                    </ul>
               </div>
               
          </div>
     </div>
</footer>

<!-- Back top -->
<a href="#back-top" class="go-top"><i class="fa fa-angle-up"></i></a>

<!-- SCRIPTS -->
<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/particles.min.js"></script>
<script src="js/app.js"></script>
<script src="js/jquery.parallax.js"></script>
<script src="js/smoothscroll.js"></script>
<script src="js/custom.js"></script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

</body>
</html>