<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<!-- Global site tag (gtag.js) - Google Analytics -->
			<script async src="https://www.googletagmanager.com/gtag/js?id=UA-108246943-1"></script>
			<script>
			  window.dataLayer = window.dataLayer || [];
			  function gtag(){dataLayer.push(arguments);}
			  gtag('js', new Date());
			  gtag('config', 'UA-108246943-1');
			</script>
		</head>
		<body>
			<nav>
	    		<ul>
	    			{% assign current = page.url | downcase | split: '/' %}

					<li>
						<a href="/" data-current="{{ current[1] }}" {% if current.size == 0 %} class="active" {% endif %}>
							Home
						</a>
					</li>
					<li>
						<a href="/about" {% if current[1] == 'about' %} class="active" {% endif %}>
							About
						</a>
					</li>
					<li>
						<a href="/awards" {% if current[1] == 'awards' %} class="active" {% endif %}>
							Awards
						</a>
					</li>
					<li>
						<a href="/blog" {% if current[1] == 'blog' %} class="active" {% endif %}>
							Blog
						</a>
					</li>
					<li>
						<a href="/publications" {% if current[1] == 'publications' %} class="active" {% endif %}>		Publications
						</a>
					</li>
					<li>
						<a href="/talks" {% if current[1] == 'talks' %} class="active" {% endif %}>
							Talks
						</a>
					</li>
					<li>
						<a href="/teaching" {% if current[1] == 'teaching' %} class="active" {% endif %}>
							Teaching
						</a>
					</li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>	
	    			<li><a href="http://github.com/Hadrien-Montanelli">GitHub</a></li>
					<li><a href="http://scholar.google.com/citations?user=Bjmkfe8AAAAJ&hl=en&oi=sra/">Google Scholar</a></li>
					<li><a href="http://www.linkedin.com/in/hadrien-montanelli-137b7958/">LinkedIn</a></li>
				</ul>
			</footer>
		</body>
	</html>
